@tailwind base;
@tailwind components;
@tailwind utilities;


.header{
  color: red;
  background-color: aqua;
  padding: 30px;
}
.navbar{
  display: flex;
  gap: 40px;
  justify-content: center;
}

.footer{
  margin-top: 30%;
  background-color: aqua;
  padding: 30px;
  color: red;
}
.footer .fot{
  display: flex;
  margin-left: 40%;
  gap: 28px;
}
